/* 
    Document   : styles
    Created on : Feb 19, 2015, 5:02:08 PM
    Author     : camilo segura
    Description:
        Purpose of the stylesheet follows.
*/
@font-face{
    font-family: 'Neo Sans Intel';
    src:url('../fonts/NeoSansIntel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Neo Sans Intel';
    src:url('../fonts/NeoSansIntel-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'Neo Sans Intel Light';
    src:url('../fonts/NeoSansIntel-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Neo Sans Intel Light';
    src:url('../fonts/NeoSansIntel-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'Neo Sans Intel Medium';
    src:url('../fonts/NeoSansIntel-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Neo Sans Intel Medium';
    src:url('../fonts/NeoSansIntel-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Nexa Light";
    src: url("../fonts/Nexa Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
#container { 
    text-align: center;
    width: 974px;
    margin: auto;
    background-color: #ccc;
}

.gallery-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.gallery-album{
    background-color: #0162b3;
    height: 69px;
    box-shadow: 0 3px 5px #777;
    z-index: 1;
    position:relative;
}
.gallery-album-name{    
    color: #FF0;
    font-family: "Neo Sans Intel";
    font-size: 35px;
    position: relative;
    top: 13px;
    font-weight: normal;
    word-spacing: -4px;
}
.gallery-imgCont, .gallery-desc, .gallery-imgCont-nd{
    display: none;
}
.gallery-imgCont{
    left: -51px;
    position: relative;
}
.gallery-img, .gallery-imgCont-d{
    display: block;
}
.gallery-desc{
    color: #FF0;
    font-family: "Neo Sans Intel";
}

.gallery-tmb{
    float: left;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.4;
    transition: height 0.3s;
}
.gallery-tmb-active{
    border: 1px solid #14a4dd;
    height: 66px;
    opacity: 1;
}
.gallery-tmbs{
    height: 60px;    
    position: relative;
    top: 29px;    
    width: 602px;
    margin: auto;
    box-shadow: 0 0 10px;
}
.gallery{
    height: 732px;
    position:relative;    
}
.gallery-imgs{
    width: 493px;
    position: relative;    
    border: 1px solid #fff;
    z-index: 1;
    top: 42px;
    box-shadow: 0 0 33px 2px #666;
    overflow: hidden;
    text-align: center;
    margin:auto;
}
.gallery-tmbsCont{
    background-image: url('../img/footer.jpg');
    height: 119px;
    background-repeat: no-repeat;
    position: relative;
    top: 73px;
    box-shadow: inset 0 14px 50px -14px #333;
}
.gallery-prevCont, .gallery-nextCont{
	cursor: pointer;
    height: 41px;
    width: 37px;
    position: absolute;
    border-bottom: 1px solid #fff;
    top: 294px;
    box-shadow: 0 0 40px 3px #000;
}
.gallery-prevCont{
    left: 202px;
}
.gallery-nextCont{
    left: 734px;
}
.gallery-prev,
.gallery-next
{
    background-image:url('../img/icons.png');
    background-repeat:no-repeat;
    top: 10px;
    position: relative;
    margin: auto;
}
.gallery-prev{background-position:-11px 0px;width:11px;height:22px;}
.gallery-prevCont:hover .gallery-prev{background-position:0px 0px;width:11px;height:22px;}
.gallery-next{background-position:-33px 0px;width:11px;height:22px;}
.gallery-nextCont:hover .gallery-next{background-position:-22px 0px;width:11px;height:22px;}

.gallery-descs{
    position: relative;
    top: 51px;
}
.gallery-title{
    margin-bottom: 0px;
}
.gallery-bgImg{
    background: url('../img/main-bg.jpg') no-repeat;
    height: 544px;
    width: 100%;
    position: absolute;
    top: 65px;
    
}